@font-face {
  font-family: 'AbhayaLibre-Semibold';
  src: url('/GRWM/public/AbhayaLibre-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Quattrocento-Regular';
  src: url('/GRWM/public/Quattrocento-Regular.ttf') format('truetype');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  padding:0;
  margin: 0;
  border: 0;
}